.chat-side
    .side-header
      %p.side-header__user-name
        tak
      .side-header__user-menu
        = link_to '#' do 
          = fa_icon 'edit' 
        = link_to '#' do
          = fa_icon 'cog'
    .groups
      =link_to '#' do
        .group
          %p.group__group-name
            fff
          %p.group__latest-message
            hello